@import '@/styles/variables';

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  z-index: 1;
  padding: 50px 0;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

.firstRegionsContainer {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  gap: 20px;
}

.lastRegionsContainer {
  display: flex;
  gap: 20px;
}

.firstRegions {
  display: flex;
  flex-direction: column;
  // margin-right: 20px;
}

.lastRegions {
  display: flex;
  flex-direction: column;
  // margin-right: 20px;
}

.regionCards {
  display: flex;
}

.regionName {
  padding-top: 5px;
  font-weight: 400;
  font-size: 12px;
  text-decoration-line: underline;
  line-height: 127.5%;
}

.textBox {
  box-sizing: border-box;
  border: 1px solid #ffffff;
  border-radius: 13px;
  margin-top: 35px;
  padding: 20px 100px;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  width: 824px;
}

.cardsContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-height: $TabletBreakpoint) {
  .textBox {
    margin-top: 20px;
    width: 70%;
  }
}
