@import '@/styles/variables';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  z-index: 1;
}

.firstRegionsContainer {
  display: flex;
  margin-bottom: 20px;
}

.lastRegionsContainer {
  display: flex;
}

.firstRegions {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.lastRegions {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.regionCards {
  display: flex;
}

.regionName {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  text-decoration-line: underline;
  line-height: 127.5%;
}

.textBox {
  box-sizing: border-box;
  border: 2px solid #ffffff;
  border-radius: 13px;
  width: 70%;
  margin-top: 50px;
  padding: 20px 100px;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}
