@import '@/styles/variables';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  z-index: 1;
}

.firstRegionsContainer {
  display: flex;
  margin-bottom: 20px;
}

.lastRegionsContainer {
  display: flex;
}

.firstRegions {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.lastRegions {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.regionCards {
  display: flex;
}
