@import '@/styles/variables.scss';

.container {
  display: flex;
  justify-content: space-between;
  width: 97%;
  height: 100%;
}

.mobileContainer {
  display: none;
}

@media screen and (orientation: portrait) {
  .mobileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $BackgroundColor;
    width: 100vw;
    height: 100vh;
    > p {
      color: $TextMainColor;
      padding: 30px;
    }
  }
}
