.form__group {
  display: flex;
  flex-direction: column;
  // height: 50%;
  gap: 2rem;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffcccc;
  color: #cc0000;
  border: 1px solid #cc0000;
  padding: 10px;
  margin: 10px 0;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.success {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dff0d8;
  color: #3c763d;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.message__container {
  min-height: 60px;
}
