.form__group {
  display: flex;
  flex-direction: column;
  // height: 50%;
  gap: 2rem;
  > h4 {
    font-family: 'Akzidenz';
    font-weight: 400;
    font-size: 30px;
  }
}

.medium {
  width: 40%;
  align-items: center;
}

.logoImage {
  width: 226px;
  align-self: center;
  margin-bottom: 50px;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffcccc;
  color: #cc0000;
  border: 1px solid #cc0000;
  padding: 10px;
  margin: 10px 0;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.success {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dff0d8;
  color: #3c763d;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.message__container {
  min-height: 60px;
}
