@import '@/styles/variables.scss';

.container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.mobileContainer {
  display: none;
 
}

@media screen and (orientation: portrait) {
  .mobileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $BackgroundColor;
    width: 100vw;
    height: 100vh;
    > p {
      color: $TextMainColor;
    }
  }
}