@import '@/styles/variables';

.attachmentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  position: relative;

  button {
    // margin-top: 15px;
    margin-left: 15px;
  }
}

.attachmentInputContainer {
  cursor: pointer;
  // height: fit-content;
  text-transform: uppercase;
  border: 2px solid;
  border-radius: 50px;
  width: 62%;
  font-size: 13px;
  max-width: 226px;
  padding: 5px 10px;
  text-align: center;
  background-color: $BackgroundSecondaryColor;
  // min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  // height: fit-content;
  font-weight: 400;
}

.attachmentIconContainer {
  margin-left: 15px;
  position: absolute;
  right: 42px;
  height: 32px;
  display: flex;
  align-items: center;
}

.imageContainer {
  margin-top: 15px;
  max-width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all;
  display: none;
}

.imageContainerZoomed {
  position: fixed;
  transition: all;
  display: block;
  height: 100%;
  margin: auto;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  backdrop-filter: blur(10px);

  img:not(.closeZoomIn) {
    height: 80%;
    max-width: 80%;
    width: auto;
  }
}

.closeZoomIn {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 10%;
  top: 5%;
}

.errorContainer {
  color: red;
  font-weight: 400;
  width: 400px;
  font-size: 12px;
  margin-top: 15px;
}

@media screen and (max-height: 820px) {
  // .attachmentInputContainer {
  //   margin-top: 30px;
  //   // width: 50%;
  //   // font-size: 12px;
  // }

  // .attachmentContainer {
  //   button {
  //     margin-top: 15px;
  //   }
  // }
}

// @media screen and (max-height: 650px) {
//   .attachmentInputContainer {
//     p {
//       font-size: 13px;
//     }
//   }
// }

// @media screen and (max-height: 650px) {
//   .attachmentInputContainer {
//     p {
//       font-size: 13px;
//     }
//   }

//   .submitButtonImage {
//     width: 20px;
//   }
// }
