@import '@/styles/variables';

.attachmentContainer {
  display: flex;
  align-items: center;
  width: 400px;

  button {
    margin-top: 15px;
    margin-left: 15px;
  }
}

.attachmentInputContainer {
  margin-top: 15px;
  cursor: pointer;
  height: fit-content;
  text-transform: uppercase;
  border: 2px solid;
  border-radius: 50px;
  width: 85%;
  max-width: 300px;
  padding: 0 20px;
  text-align: center;
  background-color: $BackgroundSecondaryColor;
  font-size: 20px;
  // min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 36px;
  // height: fit-content;
  font-weight: 400;
}

.imageContainer {
  margin-top: 15px;
  max-width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all;
  display: none;
}

.imageContainerZoomed {
  position: fixed;
  transition: all;
  display: block;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  backdrop-filter: blur(10px);

  img {
    width: 60%;
    height: auto;
  }
}

.errorContainer {
  color: red;
  font-weight: 400;
  width: 400px;
  font-size: 14px;
  margin-top: 15px;
}

@media screen and (max-height: 820px) {
  .attachmentInputContainer {
    margin-top: 5px;
    // width: 50%;
    // font-size: 12px;
  }

  .attachmentContainer {
    button {
      margin-top: 5px;
    }
  }
}

// @media screen and (max-height: 650px) {
//   .attachmentInputContainer {
//     p {
//       font-size: 13px;
//     }
//   }
// }

// @media screen and (max-height: 650px) {
//   .attachmentInputContainer {
//     p {
//       font-size: 13px;
//     }
//   }

//   .submitButtonImage {
//     width: 20px;
//   }
// }
