@import '@/styles/variables';

.menuItem {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  > div > h1 {
    color: $TextMainColor;
    font-size: 1.5em;
    padding-top: 20px;
  }
}

.linkContainer {
  height: 70px;
}

.activeLink {
  margin-top: 3px;
  position: relative;
  width: inherit;
  height: 5px;
  border-radius: 2px;
  background-color: $TextMainColor;
  align-self: center;
  justify-self: end;
}

.menuImage {
  align-self: center;
}