@import '@/styles/variables';

.container {
  width: 100%;
  height: 100%;
  // display: grid;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // // grid-template-columns: 45% 10% 45%;
  // // grid-template-rows: 45% 10% 45%;
  // // grid-template-areas:
  //   'a m b'
  //   'z z n'
  //   'c o d';
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
}

.emptyDescriptiveCard {
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.emptyArrowSpace {
  width: 15%;
}

.firstCard {
  // grid-area: a;
  // display: flex;
  align-items: flex-end;
  justify-content: right;
  z-index: 2;
  .container {
    justify-self: right;
  }
}

.secondCard {
  grid-area: b;
  // display: flex;
  align-items: flex-end;
  z-index: 2;
  justify-content: left;
  .container {
    justify-self: left;
  }
}

.thirdCard {
  grid-area: d;
  // display: flex;
  align-items: flex-start;
  z-index: 2;
  justify-content: left;
  .container {
    justify-self: left;
  }
}

.fourthCard {
  grid-area: c;
  // display: flex;
  align-items: flex-start;
  z-index: 2;
  justify-content: right;
  .container {
    justify-self: right;
  }
}

.firstArrow {
  width: 15%;
  height: auto;
  // grid-area: m;
  // justify-self: center;
  // align-self: center;
  // margin-top: 70px;
  // width: 100%;
}

.secondArrow {
  // width: 15%;
  width: 8px;
  // margin-left: 58px;
  // height: 100%;
}

.thirdArrow {
  grid-area: o;
  justify-self: center;
  // margin-bottom: 70px;
  align-self: center;
  // width: 100%;
  width: 15%;
  height: auto;
  z-index: 0;
}
