@import '@/styles/variables';

.cardContainer {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    display: none;
  }

  > h1 {
    font-weight: 500;
    font-size: 1.6rem;
    margin-top: 20px;
    flex-shrink: 0;
  }

  a {
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
  }
}

.owlImage {
  width: 97px;
  height: auto;
  margin: 5px 0;
  flex-shrink: 0;
}

@media screen and (max-height: $MobileBreakpoint) {
  .cardContainer {
    padding: 0.5rem;
    box-sizing: border-box;

    > h1 {
      font-size: 1.3rem;
      margin-top: 10px;
      text-align: center;
    }
  }

  .owlImage {
    width: 70px;
    margin: 5px 0;
  }
}
