@import '@/styles/variables';

.subLayoutContainer {
  background-color: $BackgroundColor;
  width: 89vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  // font-size: 2.25rem;
  // line-height: 2.5rem;
  color: $TextMainColor;
  overflow: hidden;
}

.mainScreenContainer {
  width: 87vw;
  height: 90vh;
  border: solid 0.1rem $TextMainColor;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 2;
  position: relative;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

.mainScreenFirstBorder {
  position: absolute;

  width: 78vw;
  height: 92vh;
  z-index: 1;
  border: solid 0.15rem $TextMainColor;
  border-radius: 30px;
  overflow: hidden;
}

.buttonContainer {
  position: absolute;
  right: 3vw;
  top: 2vh;
  z-index: 5;
  min-width: 357.67px;
  padding: 8px 20px 0 20px;
  background-color: $BackgroundColor;
  border: solid $BorderColor 0.1rem;
  border-radius: 20px;
  justify-content: center;
  > h1 {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 5px;
  }
}

@media screen and (orientation: portrait) {
  .subLayoutContainer {
    display: none;
  }
}

@media screen and (max-height: 550px), screen and (max-width: $TabletBreakpoint) {
  .buttonContainer {
    border-radius: 15px;
    padding: 5px 75px;
    > h1 {
      font-size: 1.5rem;
    }
  }
}

@media screen and (max-height: 400px) {
  .buttonContainer {
    border-radius: 10px;
    padding: 5px 50px;
    > h1 {
      font-size: 1rem;
    }
  }
}
