@import '@/styles/variables';

.container {
  display: flex;
  flex-direction: column;
  width: 2vw;
  background-color: $BackgroundColor;
  justify-content: center;
  align-items: center;
}

.progressBarContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // margin-bottom: 37px;
  transition: all;
  padding-top: 80px;
}

.percentage {
  color: $TextMainColor;
  // margin-bottom: 40px;
  // margin-right: 10px;
  align-self: center;
  font-size: 18px;
  font-weight: 400;
  font-family: var(--font-poppins);
}

.progressBar {
  display: flex;
  width: 1vw;
  height: 74vh;
  border: solid 0.1rem $BorderColor;
  margin-bottom: 17px;
  // margin-right: 10px;
  // border-radius: 200px;
}

.progress {
  background-color: $GradientColor;
  width: inherit;
  align-self: flex-end;
  // border-radius: 200px;
}

@media screen and (max-height: $TabletBreakpoint) {
  .progressBar {
    margin-right: 0;
  }

  .progressBarContainer {
    margin-bottom: 10px;
  }

  .percentage {
    margin-bottom: 15px;
  }
}

@media screen and (orientation: portrait) {
  .container {
    display: none;
  }
}
