@import '@/styles/variables';

.descriptionContainer {
  display: flex;
  flex-direction: column;
  padding: 20px 5px;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 20px;
  width: 90%;
  height: 60%;

  min-height: 263px;
  p {
    font-size: 20px;
    font-weight: 300;
  }
}

.descriptionTitle {
  padding: 5px 0;
}

.errorText {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  color: red;
  margin-top: 15px;
  max-width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all;
}

.answerContainer {
  margin-top: 50px;

  button {
    margin-left: auto;
    margin-right: auto;
  }
}

.bonusContainer {
  width: 300px;
  font-size: 20px;
  margin: 0 auto;
  > button {
    width: 85%;
  }
}

@media screen and (max-height: $TabletBreakpoint) {
  .descriptionContainer {
    padding: 5px;
    height: 60%;
    overflow-y: auto;
    min-height: 0;

    &::-webkit-scrollbar {
      display: none;
    }
  }
  .answerContainer {
    margin-top: 5px;
    // font-size: 15px;
  }
}

@media screen and (max-height: $MobileBreakpoint) {
  .descriptionContainer {
    justify-content: flex-start;
  }
}
