@import '@/styles/variables';

.descriptionContainer {
  display: flex;
  flex-direction: column;
  padding: 20px 5px;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 20px;
  width: 90%;
  > p {
    font-size: 20px;
    font-weight: 300;
  }
}

.descriptionTitle {
  padding: 5px 0;
}

.errorText {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  color: red;
  margin-top: 15px;
  max-width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all;
}

.answerContainer {
  margin-top: 50px;
}

@media screen and (max-height: 800px) {
  .descriptionContainer {
    > p {
      font-size: 15px;
    }
  }

  .answerContainer {
    margin-top: 35px;
  }
}

@media screen and (max-height: 650px) {
  .descriptionContainer {
    > p {
      font-size: 13px;
    }
  }

  .answerContainer {
    margin-top: 20px;
  }
}

@media screen and (max-height: 550px) {
  .descriptionContainer {
    > p {
      font-size: 10px;
    }
  }

  .answerContainer {
    margin-top: 0px;
  }
}
