@import '@/styles/variables';

.descriptionContainer {
  display: flex;
  flex-direction: column;
  padding: 13px 20px;
  margin-top: 10px;
  justify-content: center;
  text-align: justify;
  align-items: flex-start;
  border: 2px solid white;
  font-family: var(--font-poppins);
  border-radius: 20px;
  width: 100%;
  height: 60%;

  min-height: 264px;
  p {
    font-size: 18px;
    font-weight: 300;
    padding: 5px 20px;
  }
}

.errorText {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  color: red;
  margin-top: 15px;
  max-width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all;
}

.answerContainer {
  margin-bottom: 22px;
  min-height: 38px;

  button {
    margin-left: auto;
    margin-right: auto;
  }
}

.bonusContainer {
  margin-top: 15px;
  width: 400px;
  // font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  // margin: 0 auto;
  > button {
    font-weight: 500;
    width: 62%;
    min-width: 0;
    font-size: 16px;
    font-weight: 400;
  }
}

.imageContainer {
  margin-top: 15px;
  max-width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all;
  display: none;
}

.imageContainerZoomed {
  position: fixed;
  transition: all;
  display: block;
  height: 100%;
  margin: auto;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  backdrop-filter: blur(10px);

  img:not(.closeZoomIn) {
    height: 80%;
    max-width: 80%;
    width: auto;
  }
}

.attachmentIconContainer {
  margin-left: 15px;
  position: absolute;
  display: flex;
  align-items: center;
  right: 42px;
}

.closeZoomIn {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 10%;
  top: 5%;
}

.descriptionTitle {
  width: 100%;
  text-align: center;
}

// @media screen and (min-width: 1800px) {
//   .descriptionContainer {
//     p {
//       font-size: 1rem;
//     }
//   }
// }

@media screen and (max-height: $TabletBreakpoint) {
  .descriptionContainer {
    // padding: 5px 15px 5px 15px;
    height: 60%;
    overflow-y: auto;
    min-height: 0;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@media screen and (max-height: $MobileBreakpoint) {
  .descriptionContainer {
    // padding: 5px 15px 5px 15px;
    height: 60%;
    overflow-y: auto;
    min-height: 0;
    justify-content: flex-start;

    &::-webkit-scrollbar {
      display: none;
    }
  }
  .answerContainer {
    margin-top: 15px;
    // font-size: 15px;
  }
}
