@import 'variables.scss';

.mapContainer {
  position: relative;
  height: 100%;
  width: 100%;
  > div {
    width: 100%;
    height: 100%;
    > div {
      width: 100%;
      height: 100%;
    }
  }
}

.regionsContainer {
  width: 100%;
}

.creativityCoast {
  position: absolute;
  transform: translate(calc(650px), calc(328px));
}

.loyaltyLagoon {
  position: absolute;
  transform: translate(calc(300px), calc(324px));
}

.playfulPlains {
  position: absolute;
  transform: translate(calc(102px), calc(213px));
}

.virtualValleys {
  position: absolute;
  transform: translate(calc(428px), calc(54px));
}

.timelessTundra {
  position: absolute;
  transform: translate(calc(508px), calc(170px));
}