@import 'variables.scss';

.mapContainer {
  position: relative;
  height: 100%;
  width: 100%;
  > div {
    width: 100%;
    height: 100%;
    > div {
      width: 100%;
      height: 100%;
    }
  }
}

.regionsContainer {
  position: fixed;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
}

.creativityCoast {
  position: absolute;
  transform: translate(calc(5vw), calc(-2vh));
}

.loyaltyLagoon {
  position: absolute;
  transform: translate(calc(-19.3vw), calc(-2.3vh));
}

.playfulPlains {
  position: absolute;
  transform: translate(calc(-33vw), calc(-14.3vh));
}

.virtualValleys {
  position: absolute;
  transform: translate(calc(-10.4aavw), calc(-31.9vh));
}

.timelessTundra {
  position: absolute;
  transform: translate(calc(-4.8vw), calc(-19.3vh));
}