$TextMainColor: #ffffff;
$TextSecondaryColor: #ab5ca0;
$BackgroundColor: #000000;
$BackgroundSecondaryColor: #1d1730;
$BackgroundColorOpacity: rgba(105, 105, 105, 0.5);
$BorderColor: #ffffff;
$GradientColor: #ab5ca0;
$DescriptiveCardBackground: #251d42;

$DesktopBreakpoint: 1228px;
$TabletBreakpoint: 850px;
$MobileBreakpoint: 520px;

$LeadershipLighthouseTextColor: #00acff;
$CollaborationHorizonTextColor: #936ef1;
$EfficiencyValleyTextColor: #ff3fa0;
$CraftCanyonsTextColor: #ff704e;
$AdaptabilityDunesTextColor: #f3d079;
$learningAgilityOasisTextColor: #b3b3b3;
$LockRegionTextColor: #b3b3b3;
