$TextMainColor: #ffffff;
$TextSecondaryColor: #ab5ca0;
$BackgroundColor: #000000;
$BackgroundSecondaryColor: #1c1830;
$BackgroundColorOpacity: rgba(105, 105, 105, 0.5);
$BorderColor: #ffffff;
$GradientColor: #ab5ca0;
$DescriptiveCardBackground: #251d42;

$DesktopBreakpoint: 1228px;
$TabletBreakpoint: 768px;
$MobileBreakpoint: 460px;

$SeaOfSustainibilityTextColor: #00acff;
$PlayfulPlainsTextColor: #936ef1;
$LoyaltyLagoonTextColor: #ff3fa0;
$CreativityCoastsTextColor: #ff704e;
$VirtualValleysTextColor: #f3d079;
$TimelessTundraTextColor: #b3b3b3;
$LockRegionTextColor: #b3b3b3;
