$TextMainColor: #FFFFFF;
$TextSecondaryColor:#AB5CA0;
$BackgroundColor: #000000;
$BackgroundSecondaryColor:#352153;
$BackgroundColorOpacity: rgba(105, 105, 105, 0.5);
$BorderColor: #FFFFFF;
$GradientColor: #AB5CA0;
$DescriptiveCardBackground: #251D42;

$DesktopBreakpoint: 1228px;
$TabletBreakpoint: 768px;
$MobileBreakpoint: 460px;

$SeaOfSustainibilityTextColor: #00ACFF;
$PlayfulPlainsTextColor: #936EF1;
$LoyaltyLagoonTextColor: #FF3FA0;
$CreativityCoastsTextColor: #FF704E;
$VirtualValleysTextColor: #F3D079;
$TimelessTundraTextColor: #B3B3B3;
$LockRegionTextColor: #B3B3B3;