@import '../../styles/variables';

.container {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 3;
}

.iframeContainer {
  width: 75vw;
  height: 75vh;
  align-self: center;
}
