@import '@/styles/variables';

.questionCardContainer {
  display: flex;
  height: 100%;
  width: 80%;
  h3 {
    font-family: monarch;
    font-weight: 100;
    font-size: 38px;
    text-transform: uppercase;
  }
}

.questionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  width: 50%;
}

.imagePlaceholder {
  height: 500px;
  width: 300px;
  background-color: white;
}

.questionContent {
  display: flex;
  flex-direction: column;
  justify-content: center;

  // height: 60%;
  margin-top: 50px;
  font-weight: 300;
  font-size: 16px;
  svg {
    height: 15px;
  }

  > div {
    margin-bottom: 30px;
  }
}

.choicesContainer {
  width: fit-content;
  margin: 15px auto 0 auto;
}

.questionImageContainer {
  width: 50%;
  margin-right: 20px;
  img {
    background-image: none !important;
  }
}

.choiceContainer {
  display: flex;
  align-items: flex-start;

  &:not(:first-child) {
    margin-top: 20px;
  }
  // fle
}

.inputContainer {
  width: 100%;
  text-align: left;

  label {
    margin-left: 20px;
    display: block;
  }
}

.input {
  margin-right: 10px;
  appearance: checkbox;
  opacity: 0;
  display: none;
}

.questionImage {
  height: 100%;
  width: auto;
  max-width: 100%;
  margin-right: 20px;
}
@media screen and (max-height: $MobileBreakpoint) {
  .questionImage {
    height: 80%;
    // width: auto;
    margin: auto 0;
  }

  .choicesContainer {
    display: flex;
  }

  .choiceContainer {
    align-items: flex-start;
    width: 150px;

    &:not(:first-child) {
      margin-top: 0;
    }
  }
}
