@import '@styles/variables';

.container {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: $DescriptiveCardBackground;
  margin: 20px 50px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5px 30px;
  > h1 {
    font-size: 40px;
    color: $TextSecondaryColor;
  }
  > p {
    font-size: 16px;
    white-space: pre-line;
    vertical-align: bottom;
    line-height: 1.3em;
  }
}

.cornerDecoration {
  position: absolute;
  height: 20px;
  width: 20px;
  background: black;
}

.topLeftCorner {
  top: 0;
  left: 0;
}

.topRightCorner {
  top: 0;
  right: 0;
}

.bottomLeftCorner {
  bottom: 0;
  left: 0;
}

.bottomRightCorner {
  bottom: 0;
  right: 0;
}


.small {
  height: 280px;
  width: 450px;
}
