.parentContainer {
  height: 100%;
  width: 80%;
  margin: auto;

  h1 {
    font-weight: 300;
  }
}

.descriptionContainer {
  font-size: 22px;
}

.resourceContainer {
  display: flex;
  margin: 15px 0;
  a {
    color: white;
    text-decoration: underline;
    font-style: italic;
    font-weight: 400;
    margin-left: 10px;
  }
}

.linksContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 18px;
  color: #ab5ca0;
  text-align: left;
}
