.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
}
/* The container for carousel and arrow */
.carouselMainContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

/* The viewport of the carousel */
.carouselSlider {
  overflow: hidden;
  position: relative;
  margin: auto;
  height: 100%;
}

/* the container for the slides to go in (has the scroll effect) */
.carouselSlides {
  display: flex;
  overflow-x: scroll;
  position: relative;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  height: 100%;
}

.carouselSlides::-webkit-scrollbar {
  display: none;
}

/* the slide itself */
.carouselSlide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  min-height: 450px;
  // padding: 20px;
  scroll-snap-align: center;
}

.carouselNavigationContainer {
  display: flex;
  z-index: 5;
  // width: 100%;
  // position: absolute;
  // bottom: 0;
  margin-bottom: 15px;
  width: 100%;

  .column {
    width: 50%;
  }
}

.carousel-navigation-button {
  background: rgb(255, 255, 255, 50%);
  height: 15px;
  width: 15px;
  margin: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.carousel-navigation-button.active {
  background: rgb(255, 255, 255);
}

.buttonContainer {
  width: 50%;
}

@media (max-height: 900px) {
  .carousel-slider {
    max-width: 450px;
  }

  .carousel-slide {
    width: 100%;
  }

  .carouselSlide {
    min-height: 0;
  }

  // .carouselNavigationContainer {
  //   margin-top: 0;
  // }
}
@media (max-width: 550px) {
  .carousel-slide {
    width: 100%;
  }

  .carousel-left-arrow {
    left: -10px;
  }

  .carousel-right-arrow {
    right: -10px;
  }
}

.buttonContainer {
  min-width: 250px;
}
