@import '@/styles/variables';

.keyLearningsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding: 16px 0;
  // padding-top: 40px;
}

.isNotActive {
  opacity: 50%;
  > button {
    cursor: default;
  }
}

.contentContainer {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100%;

  > p {
    font-weight: normal;
    text-align: justify;
    font-size: 14px;
    line-height: 18.5px;
    font-family: var(--font-poppins);
    width: 90%;
    height: 85%;
    margin-top: 15px;
    display: flex;
    align-items: center;
  }

  > h4 {
    text-transform: uppercase;
  }
}

.keyLearningTitle {
  font-family: monarch;
  font-weight: 300;
  font-size: 2.2rem;
}

.additionalResourcesTitle {
  // margin-top: 25px;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: 40px;
}

.additionalResourcesContainer {
  p {
    // color: gray;
    font-weight: 275;
    font-size: 0.9rem;
    margin-bottom: 15px;
  }

  a {
    width: 100px;
    min-width: none;
    margin: auto;
  }
}

.videoContainer {
  width: 40%;
  height: 100%;

  video {
    width: 100%;
    height: 100%;
    // max-width: 100%;
  }
}

@media screen and (max-height: $TabletBreakpoint) {
  // .container {

  .contentContainer {
    height: 100%;

    // > h3 {
    //   // margin-bottom: 25px;
    // }
  }

  // .contentContainer > p {
  //   height: 60%;
  //   // overflow-y: auto;
  //   // &::-webkit-scrollbar {
  //   //   display: none;
  //   // }
  // }

  // .keyLearningTitle {
  //   font-size: 1.8rem;
  // }

  .additionalResourcesTitle {
    // font-size: 1.2rem;
    margin-top: 15px;
  }

  .additionalResourcesContainer {
    font-size: 1rem;
  }

  // .cardImg {
  //   height: 80%;
  //   width: auto;
  // }
  //   height: 40vh;
  //   width: 14vw;
  // }
  // .cardImg {
  //   height: 40vh;
  //   width: 14vw;
  // }
}

@media screen and (max-height: $MobileBreakpoint) {
  // .container {

  .contentContainer {
    height: 100%;
  }

  .contentContainer > p {
    height: 60%;
    overflow-y: auto;
    font-size: 0.8rem;
  }

  .keyLearningTitle {
    font-size: 1.1rem;
  }

  .cardImg {
    height: 80%;
    width: auto;
  }
  //   height: 40vh;
  //   width: 14vw;
  // }
  // .cardImg {
  //   height: 40vh;
  //   width: 14vw;
  // }
}
