@import '@/styles/variables';

.keyLearningsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  // padding-top: 40px;
}

.isNotActive {
  opacity: 50%;
  > button {
    cursor: default;
  }
}

.contentContainer {
  width: 60%;

  > p {
    font-weight: 300;
    text-align: justify;
    text-align-last: center;
    font-family: poppins;
  }

  > h3 {
    margin-bottom: 4rem;
  }

  > h4 {
    text-transform: uppercase;
  }
}

.keyLearningTitle {
  font-family: monarch;
  font-weight: 300;
  font-size: 2.25rem;
}

.additionalResourcesTitle {
  margin-top: 25px;
  margin-bottom: 5px;
  font-weight: 400;
}

.additionalResourcesContainer {
  p {
    // color: gray;
    font-weight: 300;
    margin-bottom: 15px;
  }

  a {
    width: 100px;
    min-width: none;
    margin: auto;
  }
}

.cardImg {
  width: auto;
  height: 100%;
}

@media screen and (max-height: $TabletBreakpoint) {
  // .container {

  .contentContainer {
    height: 100%;

    > h3 {
      margin-bottom: 25px;
    }
  }

  .contentContainer > p {
    height: 60%;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .keyLearningTitle {
    font-size: 1.8rem;
  }

  .additionalResourcesTitle {
    font-size: 1.6rem;
    margin-top: 35px;
  }

  .additionalResourcesContainer {
    font-size: 1rem;
  }

  // .cardImg {
  //   height: 80%;
  //   width: auto;
  // }
  //   height: 40vh;
  //   width: 14vw;
  // }
  // .cardImg {
  //   height: 40vh;
  //   width: 14vw;
  // }
}

@media screen and (max-height: $MobileBreakpoint) {
  // .container {

  .contentContainer {
    height: 100%;
  }

  .contentContainer > p {
    height: 60%;
    overflow-y: auto;
    font-size: 0.8rem;
  }

  .keyLearningTitle {
    font-size: 1.1rem;
  }

  .additionalResourcesTitle {
    font-size: 1rem;
  }

  .cardImg {
    height: 80%;
    width: auto;
  }
  //   height: 40vh;
  //   width: 14vw;
  // }
  // .cardImg {
  //   height: 40vh;
  //   width: 14vw;
  // }
}
