@import '@/styles/variables';

.mapContainer {
  position: relative;
  background-image: url('/static/image/map/MAP_BACKGROUNG.png');
  background-repeat: round;
  height: 100%;
  width: 100%;
  > div {
    width: 100%;
    height: 100%;
    > div {
      width: 100%;
      height: 100%;
    }
  }
}

.regionsContainer {
  width: 100%;
  height: 100%;
  // > svg {
  //   width: 100%;
  //   height: 100%;
  // }
}

.contactLogo {
  position: absolute;
  z-index: 5;
  border: 1px solid white;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  bottom: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  > p {
    font-family: 'monarch';
    font-size: 20px;
    padding-top: 5px;
  }
}

.contactTitle {
  font-family: 'monarch';
  font-weight: 300;
  padding-bottom: 20px;
}

.contactEmail {
  border: 1px solid white;
  border-radius: 10px;
  padding: 15px 50px;
  font-weight: 300;
}

.closeIconContact {
  width: 20px;
  align-self: flex-end;
  margin-right: 20px;
  cursor: pointer;
}
