@import '@/styles/variables';

.container {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $BackgroundColorOpacity;
  z-index: 10;
}

.iframeContainer {
  width: 75vw;
  height: 75vh;
  align-self: center;
}

.closeButton {
  position: absolute;
  right: 17vw;
  top: 20vh;
  width: 30px;
  height: 30px;
}
