@import '@/styles/variables';

.isNotActive {
  opacity: 50%;
}

@media screen and (max-height: $TabletBreakpoint), screen and (max-width: $DesktopBreakpoint) {
  .container {
    height: 40vh;
    width: 14vw;
  }
  .cardImg {
    height: 40vh;
    width: 14vw;
  }
}