@import '@/styles/variables';

.container {
  width: 85px;
  height: 150px;
  position: relative;
  cursor: pointer;

  > button {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
}

.isNotActive {
  opacity: 50%;
}

.imageContainer {
  width: 85px;
  height: 151px; /* matches 936:1663 aspect ratio */
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardImage {
  width: 85px;
  height: 151px;
  object-fit: contain;
}

.videoContainer {
  width: 85px;
  height: 150px;
}

.contentContainer {
  width: 60%;
}

.keyLearningTitle {
  font-family: monarch;
  font-weight: 300;
  font-size: 2.25rem;
}

.additionalResourcesTitle {
  margin-top: 25px;
  margin-bottom: 5px;
  font-weight: 400;
}

.additionalResourcesContainer {
  p {
    font-weight: 200;
    margin-bottom: 15px;
  }
  a {
    width: 100px;
    min-width: none;
    margin: auto;
  }
}

@media screen and (max-height: $TabletBreakpoint) {
  .container {
    width: auto;
    height: 20vh;
    max-width: 85px;
  }

  .imageContainer {
    width: auto;
    height: 20vh;
    max-width: 85px;
  }

  .cardImage {
    width: auto;
    height: 100%;
  }

  .videoContainer {
    width: auto;
    height: 20vh;
    max-width: 85px;

    video {
      width: auto;
      height: 100%;
    }
  }
}
