@import '@/styles/variables';

.isNotActive {
  opacity: 50%;
  // > button {
  //   cursor: default;
  // }
}

.contentContainer {
  width: 60%;
}

.keyLearningTitle {
  font-family: monarch;
  font-weight: 300;
  font-size: 2.25rem;
}

.additionalResourcesTitle {
  margin-top: 25px;
  margin-bottom: 5px;
  font-weight: 400;
}

.additionalResourcesContainer {
  p {
    // color: gray;
    font-weight: 200;
    margin-bottom: 15px;
  }

  a {
    width: 100px;
    min-width: none;
    margin: auto;
  }
}

.videoContainer {
  width: 85px;
  height: 150px;

  // video {
  //   width: auto;
  //   height: 20vh;
  // }
}

// .videoContainer {
//   width: 10%;

//   video {
//     width: 100%;
//   }
// }

@media screen and (max-height: $TabletBreakpoint) {
  // .container {
  //   height: 40vh;
  //   width: 14vw;
  // }
  // .cardImg {
  //   height: 40vh;
  //   width: 14vw;
  // }

  .videoContainer {
    width: auto;
    height: 20vh;
    min-width: 85px;
    // position: relative;
    video {
      // position: absolute;
      // top: 0;
      // left: 0;
      width: auto;
      height: 100%;
    }
  }
}
