@import '@/styles/variables';

.menuItem {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  > div > h1 {
    color: $TextMainColor;
    font-size: 20px;
    font-family: 'Monument';
    font-weight: 400;
    padding-top: 20px;
    margin-bottom: 5px;
  }
}

.linkContainer {
  height: 70px;
}

.activeLink {
  position: relative;
  width: inherit;
  height: 3px;
  margin: 0 10px;
  background-color: $TextMainColor;
  align-self: center;
  justify-self: end;
}

.menuImage {
  align-self: center;
  scale: 1.1;
}

@media screen and (orientation: portrait) {
  .menuItem {
    padding: 0;
  }
}

@media screen and (max-height: 550px) {
  .linkContainer {
    height: 10px;
  }
  .menuImage {
    width: 40px;
  }
  .menuItem {
    > div > h1 {
      font-size: 1em;
      padding-top: 10px;
    }
  }
}
