@import '@/styles/variables';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.title {
  margin-bottom: 50px;
  position: relative;
  > p {
    border: solid 1px white;
    border-radius: 33px;
    padding: 10px 40px;
    font-weight: 400;
    font-size: 24px;
  }
}

.description {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 50px;
}

.downloadButton {
  font-weight: 300;
  text-decoration-line: underline;
  margin-top: 50px;
}

.certificateImage {
  width: 60%;
}

.goldenOwl {
  position: absolute;
  width: 70px;
}

.firstOwl {
  top: -70px;
  left: 20px;
}

.secondOwl {
  top: -70px;
  left: 200px;
}

.thirdOwl {
  top: -25px;
  left: -50px;
}

.fourthOwl {
  top: -25px;
  left: 290px;
}

.fifthOwl {
  top: 0px;
  left: 120px;
}
