@import '@styles/variables';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $BackgroundColor;
  @media (max-width: 1280px) {
    display: none;
  }
}

.subContainer {
  display: flex;
  height: 80vh;
  flex-direction: column;
  justify-content: space-around;
  color: $TextMainColor;
}
