@import '@/styles/variables';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $BackgroundColor;
 
}

.subContainer {
  display: flex;
  margin-left: 10px;
  height: 90vh;
  flex-direction: column;
  justify-content: space-around;
  color: $TextMainColor;
}

@media screen and (orientation: portrait) {
  .container {
    display: none;
  }
}