@import '@/styles/variables';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  > img {
    height: 330px;
    width: 500px;
  }
}

.owlsList {
  display: flex;
}

@media screen and (max-height: $TabletBreakpoint), screen and (max-width: 1380px) {
  .container {
    > img {
      width: 30vw;
    max-height: 50vh;
      
    }
  }
  .owlsList {
    > img {
      width: 14vw;
    }
  }
}